a {
  text-decoration: none;
}

#main {
  position: relative;
  background-color: rgb(0, 0, 0);
}
.headerImg {
  width: 100%;
  height: 935px;
  opacity: 0.5;
}

#main p {
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
  top: 40%;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.button {
  width: 100%;
  position: absolute;

  top: 60%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
